%html
  %head
    %title
      Force.com Demo App
    %link{:rel => 'stylesheet', :href => '/stylesheets/index.css'}
  %body

    #content
      .top_links
        %a{:href => "/"} Home
        - if session[:client]
          |
          %a{:href => "/logout"} Logout
      .message
        - if session[:message]
          = session[:message]
          - session[:message] = nil

      = yield