%html
  %head
    %title
      Force.com Demo App
    %link{:rel => 'stylesheet', :href => '/stylesheets/index.css'}
  %body

    #content
      .top_links
        %a{:href => "/"}
          Home

      = yield