.chatter_links
  %a{:href => "/chatter/users"} Users
  %a{:href => "/chatter/groups"} Groups

%h2 Chatter Feeds
.chatter_links
  - feeds = %w(news user_profile record to people groups files company)
  - feeds.each do |feed|
    .feed_link
      %a{:href => "/feeds/#{feed}"}= feed == "to" ? "To-Me" : feed.camelize

%h2 Classes in the database
.search
  %form{:action => '/search'}
    .search_box
      %input{:type => "textfield", :name => "search"}
    .search_button
      %input{:type => "submit", :value => "SOSL Search"}

.page
  %ul
    - session[:client].list_sobjects.each do |sobject|
      %li
        .sobject
          %a{:href => "/sobject/#{sobject}" }
            = sobject