body {
  text-align: center;
}

#content {
  font-size: 16px;
  margin: 0 auto;
}

.top_links {
  margin-bottom: 20px;
}

.flash_message {
  color: red;
  background: yellow;
  width: 500px;
  margin: 0 auto;
}

.page {
  text-align: left;
  width: 500px;
  margin: 0 auto;
}

.page .actions {
  text-align: center;
}

.login {
  width: 300px;
  text-align: left;
  margin: 0 auto;
}

.field {
  display: inline-block;
}

.left {
  width: 150px;
  margin: 0 auto;
  float: left;
  text-align: right;
}

.right {
  width: 135px;
  margin: 0 auto;
  float: right;
  text-align: left;
  padding: 0 0 0 15px;
}

.login .submit {
  margin-top: 20px;
  text-align: center;
}

.page ul {
  padding-left: 0;
}

.page li {
  list-style: none;
  padding: 7px 10px;
  text-align: center;
}

.page li:nth-child(odd) {
  background-color: #ccc;
}

.attr {
  text-align: left;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.search {
  display: inline-block;
}

.search_box {
  float: left;
}

.search_box input {
  width: 200px;
}

.search_button {
  float: left;
  padding-left: 10px;
}

h2 {
  text-align: center;
}

.chatter_links {
  text-align: center;
  display: inline-block;
}

.feed_link {
  float: left;
  margin: 0 5px;
}

.photo {
  text-align: center;
  margin: 20px;
}

.status_box input {
  width: 80%;
  margin-top: 20px;
}