body {
  text-align: center;
}

#content {
  font-size: 16px;
  margin: 0 auto;
}

.top_links {
  margin-bottom: 20px;
}

.page {
  text-align: left;
  width: 500px;
  margin: 0 auto;
}

.login {
  width: 300px;
  text-align: left;
  margin: 0 auto;
}

.login .field {
  display: inline-block;
}

.message {
  color: red;
  background: yellow;
}

.login .field .left {
  width: 150px;
  margin: 0 auto;
  float: left;
}

.login .field .right {
  width: 150px;
  margin: 0 auto;
  float: right;
}

.login .submit {
  margin-top: 20px;
  text-align: center;
}

.page ul {
  padding-left: 0;
}

.page li {
  list-style: none;
  padding: 7px 10px;
  text-align: center;
}

.page li:nth-child(odd) {
  background-color: #ccc;
}

.page li a {
  text-decoration: none;
}